.best table{
	margin:auto;
	margin-top: 1%;
	margin-bottom: 2%;
	text-decoration:none;
	text-align: center;
	border-collapse: collapse;
	width: 90%;


}

.best table>tr>td>a>img{
	width: 100px;
	margin-bottom: 15%;
	box-shadow: 5px 5px 8px black;
}


.poster1{
	width: 80%;
}

h1{
	font-family:"palatino linotype", palatino, serif;
	text-transform: capitalize;
	font-size: 150%;
}