
/*
.search {
	 background-color:black;
}*/



/*.search ul{
	display:block;
	list-style-type:none;
	margin:0px
}
.search ul>li{
	display:inline-block;
}
.search ul>li>figure>a{
	text-decoration:none;
}

figure img{
	border:1px;
	width:130px;
	max-width:100%;
	height:auto;
	//box-shadow:1 1 30px 10px grey;
}

figcaption{
	width:130px;
}*/

/*.search table{
	margin:auto;
	margin-top: 1%;
	margin-bottom: 2%;
	text-decoration:none;
	text-align: center;
	border-collapse: collapse;
	width: 10%;


}

.search table>tr>td>a>img{
	width: 100px;
	margin-bottom: 15%;
	box-shadow: 5px 5px 8px black;
}*/


.poster1{
	box-shadow: 5px 5px 8px black;
}

.search p{
	width: 25%;
	display: inline-block;
	text-align: center;
	margin-bottom: 3%;
}

.search p>a{
	text-decoration:none;
	display: block;
	text-align: center;
}

.search #result{
	color:grey;
}