<div class="achat" ng-controller="achatCtrl">
	Mes achats

	<a href="#openModalj">Open Modal</a>
	<input type="checkbox" ng-model="displayFavoriteinscrip">
	<div id="openModal" class="modalDialog" ng-show="displayFavoriteinscrip">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<h2>Modal Box</h2>
			<p>This is a sample modal box that can be created using the powers of CSS3.</p>
			<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
		</div>
	</div>


	<a href="" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline openPaddingLink" data-transition="pop" ng-click="open()">Basic Popup</a>
<!--a href="" class="openPaddingLink" ng-click="open()">Open dialog</a>
    <- Template -->
    <script type="text/ng-template" id="dialogLogin">
       <div class="ngdialog-message">
            <h3>Connexion</h3>
            Identifiant: <input ng-model="logName" type="text" placeholder="mail adress" /> <br/>
            Mot de passe: <input ng-model="logPass" type="password" />
            <button type="submit" ng-model="login"> Connexion </button>
            <p>Close this dialog: <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button></p>

        </div>
    </script>
    
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

</div>
