
<div class="detail" ng-controller="detailCtrl">	
	<div id="poster">
		<img src="{{details.poster}}" />
		<div style="text-align:center; margin-top:6%;" >
		<a href="" ng-click="addPanier(details.title,details.year,'copie numerique',1,7.00);" ><p><span class="glyphicon glyphicon-shopping-cart"/></p></a>
		<a href="" ng-click="addPanier(details.title,details.year,'copie numerique',1,7.00);" ><p> Ajouter au panier</p></a>
		</div>

	</div>
	<div id="info"> 
		<h2>{{details.title}}</h2>
		<div id="descriptif">
			<p><b>Annee production: </b>{{details.year}}  ({{details.runtime}})</p>
			<p><b>De: </b>{{details.director}}</p>
			<p><b>Avec: </b>{{details.actors}}</p>
			<p><b>Genre: </b>{{details.genre}}</p>
		</div>
			<h4><u> SYNOPSIS </u></h4>
		<div id="synopsis">
			{{details.overview}}
		</div>
	</div>
	
</div>  <!--{{details.title}},{{details.year}},'copie numerique','1','7,00'-->