<!--section ng-controller="homeCtrl">
    <nav>
        Menu
        <ul><li>Films</li>
        <li>Series</li></ul>
    </nav-->
				
    <div ng-controller="homeCtrl">					
        <h3 class="text-muted">Rechercher un Film / une Serie</h3>
        <div class="search">
            <input ng-model="query" type="text" class="txtSearch" placeholder="Titre, Acteur, Realisateur ..." pattern="[a-z]{1,15}" title="goodzilla" />
            <button type="submit" ng-click="searchAction()">Rechercher</button>
            <p><a href="#/search"> Recherche avancée </a></p>
        </div>
					
        <ul>
            <li class="active" ><a ng-href="#">Meilleurs Ventes</a></li>
            <!-- MEILLEURES VENTES -->
            <div class="best">
                <ul>
                    <li ng-repeat="data in datasBest"> 
                        <figure>
                            <a href="#detail/124905">
                                <img src='{{data.poster}}' alt=""/>
                                <figcaption> {{data.title}} <br/> {{data.year}} </figcaption>
                            </a>
                        </figure>            
                    </li>
                </ul>
            </div>
           
                
            <li class="active"><a ng-href="#">Suggestions</a></li>
            <!-- SUGGESTIONS -->
            <div class="best">
                <ul>
                    <li ng-repeat="data in datasSuggest"> 
                        <figure>
                            <a href="#detail/124905">
                                <img src='{{data.poster}}' alt=""/>
                                <figcaption> {{data.title}} <br/> {{data.year}} </figcaption>
                            </a>
                        </figure>            
                    </li>
                </ul>
            </div>

        </ul>
					
        <div>
            <form action="#" ng-submit="addTodo()">
                Title : <input type="text" ng-model="remaining" id="title"></br></br>
            </form>
                Actors : <input type="text" id="actor" placeholder="Actors" /></br></br>
                Resume : <input type="text" id="resume" placeholder="resume" />
                </br></br>
                <!--{{todos.length}}-->
                {{message}} {{remaining}}
					
					
                <ul id="todo-list">
                    <li ng-repeat="todo in todos"> 
                        <input type="checkbox">	
                        <label>{{todo.name}}</label>
                        <button ng-click="removeTodo($index)">X</button>				
                    </li>
                </ul>
        </div>					
    </div>	
				
			<!--/section-->