<!--section ng-controller="homeCtrl">
    <nav>
        Menu
        <ul><li>Films</li>
        <li>Series</li></ul>
    </nav-->
				
    <div ng-controller="homeCtrl">					
        <div class="search">
            <input ng-model="query" type="text" class="txtSearch" placeholder="Rechercher titre, Acteur, Realisateur ..." pattern="[a-z]{1,15}" title="goodzilla" />
            <button type="submit" ng-click="searchAction()">Rechercher</button>
            <p><a href="#/search"> Recherche avancée </a></p>
        </div>
					
        
        	<h1>Meilleures ventes</h1>
            <!-- MEILLEURES VENTES -->
            <div class="best">
                        <table>
                        		<tr>
                                <td ng-repeat="data in datasBest"><a href="#detail/124905"><img src='{{data.poster}}' class="img-rounded poster1" alt=""/></a></td></tr>
                                <tr>
                                <td ng-repeat="data in datasBest"><a href="#detail/124905">{{data.title}} <br/> {{data.year}}</a></td>
                                </tr>
                            </tbody>                         
                        </table>  
            </div>
           
                
            <h1>Suggestions</h1>
            <!-- SUGGESTIONS -->
             <div class="best">
                        <table>
                        		<tr>
                                <td ng-repeat="data in datasBest"><a href="#detail/124905"><img src='{{data.poster}}' class="img-rounded poster1" alt=""/></a></td></tr>
                                <tr>
                                <td ng-repeat="data in datasBest"><a href="#detail/124905">{{data.title}} <br/> {{data.year}}</a></td>
                                </tr>
                            </tbody>                         
                        </table>  
            </div>

					
        <div>
            <form action="#" ng-submit="addTodo()">
                Title : <input type="text" ng-model="remaining" id="title"></br></br>
            </form>
                Actors : <input type="text" id="actor" placeholder="Actors" /></br></br>
                Resume : <input type="text" id="resume" placeholder="resume" />
                </br></br>
                <!--{{todos.length}}-->
                {{message}} {{remaining}}
					
					
                <ul id="todo-list">
                    <li ng-repeat="todo in todos"> 
                        <input type="checkbox">	
                        <label>{{todo.name}}</label>
                        <button ng-click="removeTodo($index)">X</button>				
                    </li>
                </ul>
        </div>					
    </div>	
				
			<!--/section-->