<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
		
		
					<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">					
                    
                <!-- FIN AJOUT -->
				<link rel="icon" href="data:;base64,iVBORw0KGgo=">
				
				<link rel="stylesheet" type="text/css" href="client/app/styles/bibliotheques/bootstrap.min.css" />
				<link rel="stylesheet" type="text/css" href="client/app/styles/bibliotheques/bootstrap.min-alpha.css" />
				<link rel="stylesheet" type="text/css" href="client/app/styles/bibliotheques/googleapisFonts.css" />
                <link rel="stylesheet" type="text/css" href="client/app/styles/bibliotheques/ngDialog.min.css" /> 
				
				<link rel="stylesheet" href="client/app/styles/bibliotheques/dialogues/ngDialog.css">
				<link rel="stylesheet" href="client/app/styles/bibliotheques/dialogues/ngDialog-theme-default.css">
                <link rel="stylesheet" href="client/app/styles/bibliotheques/dialogues/ngDialog-theme-plain.css">
                <link rel="stylesheet" href="client/app/styles/bibliotheques/dialogues/ngDialog-custom-width.css">                
				
				<link rel="stylesheet" type="text/css" href="client/app/styles/search.css" />
				<link rel="stylesheet" type="text/css" href="client/app/styles/home.css" />
				<link rel="stylesheet" type="text/css" href="client/app/styles/detail.css" />
                <link rel="stylesheet" type="text/css" href="client/app/styles/index.css" />
                <link rel="stylesheet" type="text/css" href="client/app/styles/achat.css" />
				
				<script src="client/app/scripts/bibliotheques/jquery.min.js"></script>
				<script src="client/app/scripts/bibliotheques/bootstrap.min.js"></script>
				<script src="client/app/scripts/bibliotheques/angular.min.js"></script>

		
		
		
        <title> e-movies </title>        
	</head>
	<body  ng-app="routeApp">
		<div id="main">
			<header>
				<div class="logo" >
                    <a href="#home"><img src="client/app/images/logos/logo1.png" /></a>
				</div>				
			</header>
			
			<div data-spy="affix" data-offset-top="156">
			 <nav class="navbar navbar-inverse"   ng-controller="loginCtrl">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#home">e-movies</a>
			    </div>

			    <ul class="nav navbar-nav">
			      <li><a href="" ng-click="back()"><span class="glyphicon glyphicon-circle-arrow-left"/></a></li>
			      <li><a href="#home" ng-click="BtnSearch = !BtnSearch"><span class="glyphicon glyphicon-home"/></a></li>

			      <li><a href="" ng-click="BtnSearch = !BtnSearch"><span class="glyphicon glyphicon-search"/></a> <!--ng-hide="BtnSearch"-->
			      </li>
			      <li>
			      	<p ng-show="BtnSearch" class="searchIndex">
			            <input ng-model="queryIndex" type="text" class="txtSearchIndex" placeholder="Rechercher titre, acteur, realisateur ..." pattern="[a-z]{1,50}"/>

			            <button type="submit" ng-click="searchAction2()" ><span class="glyphicon glyphicon-search"></span></button>

			            <a ng-href="#/search" ng-click="rechAvancee = !rechAvancee" ng-show="!rechAvancee" class="glyphicon glyphicon-plus-sign"></a>
			            <a ng-href="#/search" ng-click="rechAvancee = !rechAvancee" ng-show="rechAvancee" class="glyphicon glyphicon-minus-sign"></a>


			            <div ng-show="rechAvancee" class="rechPlus">
			            <h1>Recherche avancée</h1>

            			<!-- Recherche Avancée : -->
			            	<table>
			            		<tbody>
			            	 	<td><input type="checkbox" name="TypeF" value="Film" ng-model="displayFavoriteFilms"/> Film</td>
			            	 	<td><input type="checkbox" name="TypeS" value="Serie" ng-model="displayFavoriteSeries"/> Série</td></tr>
			            	 	</tbody>
							</table>
							
							<p><input ng-model="query" type="text" class="txtSearch2" placeholder="Titre" pattern="[a-z]{1,15}"/></p>
							<p><input ng-model="query" type="text" class="txtSearch2" placeholder="Réalisateur" pattern="[a-z]{1,15}"/></p>
							<p><input ng-model="query" type="text" class="txtSearch2" placeholder="Année de production" pattern="[a-z]{1,15}"/>
							</p><p><input ng-model="query" type="text" class="txtSearch2" placeholder="Acteur" pattern="[a-z]{1,15}" t/></p>
							<h3>Genre :</h3>
							<div>
							<table>
							<tbody>
							<tr>
								  <td><input type="checkbox" name="GenreC" value="Comedie"> Comédie</td>
								  <td><input type="checkbox" name="GenreA" value="Aventure"> Aventure</td>
								  <td><input type="checkbox" name="GenreD" value="Drame"> Drame</td>
								  <td><input type="checkbox" name="GenreF" value="Fantastique"> Fantastique</td>
							</tr><tr>
								  <td><input type="checkbox" name="GenreSF" value="SF"> Sciences Fiction</td>
								  <td><input type="checkbox" name="GenreAc" value="Action"> Action</td>
								  <td><input type="checkbox" name="GenreT" value="Thriller"> Thriller</td>
								  <td><input type="checkbox" name="GenreP" value="Policier"> Policier</td>
							</tr><tr>
								  <td><input type="checkbox" name="GenreM" value="Manga"> Manga</td>
								  <td><input type="checkbox" name="GenreDA" value="DA"> Dessin animé</td>
							</tr> 
							</tbody>
							</table>
							<button type="submit" ng-click="searchAction2(); rechAvancee = !rechAvancee">Rechercher</button>
							</div>
							<!-- <a ng-click ="rechAvancee = !rechAvancee" style="margin-left:90%;">Moins</a> -->
						</div>
			      </p>
			      </li>			        
			    </ul>

			    <!-- ng-click="isConnect = !isConnect" -->
			    <!-- Utilisateur non connecté : -->
			    
			    <div>

			    <ul class="nav navbar-nav navbar-right" >
			    	<div ng-show="!user" class="ConnexInscr">
			    		<li><a href="" data-toggle="modal" data-target="#dialogLogin"><b>Connexion</b></a> / 
			    		<a href="" data-toggle="modal" data-target="#dialogSign_up"><b>Inscription</b></a></li>
			   		</div>

			    	<div ng-show="user">
						<li><button class="btn" type="button" data-toggle="dropdown" id="userIcone"><span class="glyphicon glyphicon-user"/>
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a href="#achat"><span class="glyphicon glyphicon-barcode"/> Mes achats</a></li>
						    <li><a href="" class="btn" data-toggle="modal" data-target="#dialogParameter"><span class="glyphicon glyphicon-cog" style="margin-right:7%;" /> Paramètres</a></li>
						    <li><a href="" ng-click="deconnexion()"><span class="glyphicon glyphicon-off"/> Déconnexion</a></li>
						  </ul>
						</li>
					</div>


					<!-- Panier -->
					<li><a  href="" data-toggle="modal" data-target="#dialogPanier" ng-click="loadPanier()" class="btn" style=" margin-right:30%; padding-top:20%;"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
			    	
			    </ul>
			    </div>
  
			</nav> 
			<!-- Menu -->
			<div class="middleLeft" id="menu">
                    <nav>
                        <!-- Menu <input type="checkbox" ng-model="displayFavoriteSeries"> -->
                        <a href="" ng-click="ListMenu=!ListMenu; GenreFilm=false; GenreSerie=false">Menu</a>

                        <!-- <p ng-model="displayFavoriteSeries">Menu</p> -->
                        <ul ng-show="ListMenu">
                            <li ng-click="GenreFilm=!GenreFilm"><a href="" >Films</a></li>
                            <ul ng-show="GenreFilm">
                            	<li><a href="#">Aventure</a></li>
                            	<li><a href="#">Action</a></li>
                            	<li><a href="#">Comédie</a></li>
                            	<li><a href="#">Fantastique</a></li>
                            	<li><a href="#">Science-Fiction</a></li>
                            	<li><a href="#">Thriller</a></li>
                            	<li><a href="#">Policier</a></li>
                            	<li><a href="#">Drame</a></li>
                            	<li><a href="#">Horreur</a></li>
                            	<li><a href="#">Manga</a></li>
                            	<li><a href="#">Dessin animé</a></li>                             	
                            </ul>
                            <li ng-click="GenreSerie=!GenreSerie"><a href="" >Series</a></li>
                            <ul ng-show="GenreSerie">
                            	<li><a href="#">Aventure</a></li>
                            	<li><a href="#">Action</a></li>
                            	<li><a href="#">Comédie</a></li>
                            	<li><a href="#">Fantastique</a></li>
                            	<li><a href="#">Science-Fiction</a></li>
                            	<li><a href="#">Thriller</a></li>
                            	<li><a href="#">Drame</a></li>
                            	<li><a href="#">Horreur</a></li>
                            	<li><a href="#">Manga</a></li>
                            	<li><a href="#">Dessin animé</a></li>                            	
                            </ul>
                        </ul>
                    </nav>
                </div>

               </div>

			
                <!-- <div id="middleLeft" data-spy="affix" data-offset-top="170"> -->

                
			<section id="middle">
				<div id="middleRight">                    
                    <div id="view" ng-view>
                    </div>
                </div>
			</section>
			
			<footer> 
				<div class="infoFooter">
					<a href="">Contact</a>
				</div>
			</footer> 
		</div>
			<!-- bower:js -->
		<script src="client/app/scripts/bower_components/angular/angular.js"></script>
		<script src="client/app/scripts/bower_components/angular-animate/angular-animate.js"></script>
		<script src="client/app/scripts/bower_components/angular-aria/angular-aria.js"></script>
		<script src="client/app/scripts/bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="client/app/scripts/bower_components/angular-messages/angular-messages.js"></script>
		<script src="client/app/scripts/bower_components/angular-resource/angular-resource.js"></script>
		<script src="client/app/scripts/bower_components/angular-route/angular-route.js"></script>
		<script src="client/app/scripts/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="client/app/scripts/bower_components/angular-touch/angular-touch.js"></script>
		
		<script src="client/app/scripts/bower_components/ngDialog.min.js"></script>
		<script src="client/app/scripts/bower_components/ui-bootstrap-tpls-2.1.3.min.js"></script>
			<!-- endbower -->
		<!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script-->
		<script type="text/javascript" src="client/app/configRoute.js"></script>
		<script type="text/javascript" src="client/app/scripts/controllers/pagesControllers.js"></script>
		<script type="text/javascript" src="client/app/scripts/controllers/loginControllers.js"></script>
		<script type="text/javascript" src="client/app/scripts/services/services.js"></script>
		<!-- <script type="text/javascript" src="client/app/scripts/controllers/jquery-3.1.0.min.js"></script> -->
		
		<!-- LOGIN / LOGOUT / SIGNUP SERVICES -->
		<!-- Real user service that uses an api -->
		<!-- <script src="app-services/user.service.js"></script> -->
		<!-- Fake user service for demo that uses local storage -->
		<script src="client/app/scripts/services/user.service.local-storage.js"></script>
		<script src="client/app/scripts/services/authentication.service.js"></script>
		<script src="client/app/scripts/services/flash.service.js"></script>
		<!-- END SERVICES -->
		
		

<div ng-controller="loginValidateCtrl">	
		<!-- DIALOG LOGIN --> 
    <div class="modal fade" id="dialogLogin" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4>Connexion</h4>
	        </div>
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
	        <div class="modal-body" style="padding:40px 50px;">
	        
	          <form role="form" name="myFormLogin" >
	            <div class="form-group">
					<label for="email">E-mail : </label>
					<!--error email-->
					<span style="color:red" ng-show="myFormLogin.email.$dirty && myFormLogin.email.$invalid">
						<span ng-show="myFormLogin.email.$error.required">Entrer votre adresse mail *</span>
						<span ng-show="myFormLogin.email.$error.email">Adresse mail invalide *</span>
					</span>
					<input type="email" name="email" id="email"  class="form-control" ng-model="vm.email" required>                    
	            </div>
	            <div class="form-group">
					<label for="psw">Mot de passe : </label> 
					<!-- error password-->
					<span style="color:red" ng-show="myFormLogin.pwd.$touched && myFormLogin.pwd.$invalid">Entrer votre mot de passe *</span> 
					<input type="password" class="form-control" name="pwd" id="pwd" ng-model="vm.pwd" required>					              
	            </div>
				<p style="text-align:right; "><a href="">Mot de passe oublié</a></p>				

	            <div class="checkbox">
	                <label><input type="checkbox" name="notif" id="notif" ng-model="vm.notif"> Se souvenir de moi</label>
	            </div>
	            <button type="submit" class="btn btn-block" ng-disabled="myFormLogin.pwd.$invalid || (myFormLogin.email.$dirty && myFormLogin.email.$invalid) || myFormLogin.email.$invalid" ng-click="login()" > Se connecter
					<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
				</button>
	        </form>
		
	        </div>
	        <div class="modal-footer">
	        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" >Quitter</button>
	          <p><a href="" data-toggle="modal" data-target="#dialogSign_up" data-dismiss="modal" >S'inscrire</a></p>
	        </div>
	    </div>
	    </div>
	</div>
	<!-- END DIALOG LOGIN -->
		
	<!-- Modal SIGN UP -->
	  <div class="modal fade" id="dialogSign_up" role="dialog">
		<div class="modal-dialog">		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Inscription</h4>
			</div>
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
			<div class="modal-body">
				<form class="form-group" name="myFormSign_up" role="form">	
					<span style="color:red" ng-show="myFormSign_up.nom.$touched && myFormSign_up.nom.$invalid">Nom obligatoire *</span>
					<input type="text"  class="form-control" name="nom" id="nom" ng-model="user.nom" placeholder="Nom" required>
					<span style="color:red" ng-show="myFormSign_up.pName.$touched && myFormSign_up.pName.$invalid">Prenom obligatoire *</span>
					<input width="50%" type="text" class="form-control" name="pName" id="pName" ng-model="user.pName" placeholder="Prenom" required>
					<input type="text" class="form-control" name="adress" id="adress" ng-model="user.adress" placeholder="Adresse">
					<p style="display: flex;" >
					<input type="number" class="form-control" name="zipCode" id="zipCode" ng-model="user.zipCode" placeholder="Code Postal" title="Ex: 38000"> <select id="country" class="form-control" style="margin-left:1%;" name="country"> <option>France</option> </select>
					</p>
					<input type="tel" class="form-control"  name="tel" id="tel" ng-model="user.tel" placeholder="Telephone">
					<span style="color:red" ng-show="(myFormSign_up.email.$dirty && myFormSign_up.email.$invalid) || myFormSign_up.email.$touched">
						<span ng-show="myFormSign_up.email.$error.required">Email obligatoire *</span>
						<span ng-show="myFormSign_up.email.$error.email">Adresse mail invalide *</span>
					</span>
					<input type="email" name="email" id="email" class="form-control" ng-model="user.email" placeholder="E-mail" required>
					<span style="color:red" ng-show="myFormSign_up.pwd1.$touched && myFormSign_up.pwd1.$invalid">Mot de passe obligatoire *</span>
					<input type="password" class="form-control" name="pwd1" id="pwd1" ng-model="user.pwd1" placeholder="Mot de Passe" required>
					<span style="color:red" ng-show="myFormSign_up.pwd2.$touched && myFormSign_up.pwd2.$invalid">Confirmer mot de passe obligatoire *</span>
					<span style="color:red" ng-show="(user.pwd1 != user.pwd2)&& (user.pwd2)">Mots de passe differents *</span>					
					<input type="password" class="form-control" name="pwd2" id="pwd2" ng-model="user.pwd2" placeholder="Confirmer le mot de Passe" required>
					<div class="checkbox">
						<label><input type="checkbox" name="notif" id="notif" ng-model="user.notif"> <b>Je souhaite être averti par e-mail des nouveaux ajouts  </b></label>
					</div>	
				
					<button type="submit" class="btn btn-block" ng-disabled="myFormSign_up.nom.$invalid || myFormSign_up.pName.$invalid || myFormSign_up.pwd1.$invalid || (myFormSign_up.email.$dirty && myFormSign_up.email.$invalid) || myFormSign_up.email.$invalid || (user.pwd1 != user.pwd2) || !user.pwd1 || !user.pwd2" ng-click="signUp()" >S'inscrire
						<img ng-if="dataLoadingSign_up" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
					</button>		
				</form>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal" >Quitter</button>
				<p><a href="" data-toggle="modal" data-target="#dialogLogin" data-dismiss="modal" >Se connecter</a></p>

			</div>
		  </div>
		  
		</div>
	  </div>
	 <!-- End Modal SIGN UP --> 
</div>

	 <!-- Modal PANIER -->

	<div class="modal fade" id="dialogPanier" role="dialog" ng-controller="panierCtrl">
		<div class="modal-dialog">		
		  <!-- Modal content-->
		  <div class="modal-content" ng-controller="panierCtrl">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Mon Panier</h4>
			</div>
			<div class="modal-body" ng-show="dansPanier[0]">
				<form name="myFormPanier">
				<table class="table table-hover">
					<thead>
					<tr>
						<th>Titre</th>
						<th>Année</th>
						<th>Support</th>						
						<th>Quantité</th>
						<th>P.U</th>
						<th>Total</th>
						<th>Options</th>
					</tr>
					</thead>
					<tbody>					
					<tr ng-repeat="data in dataPanier1">
						<td>{{data[1]}} </td>
						<td>{{data[2]}}</td>
						<td>{{data[3]}}</td>
						<td><input type="number" class="form-control" ng-init="txtQuantite=data[4]" ng-model="data[4]" style="width:80px" value={{data[4]}} ng-change="updateQuantite($index, data[4])" min="1" max="5"/></td>
						<td>{{data[5]}}€</td>
						<td>{{data[4]*data[5]}}€</td>
						<td><a href="" ng-click="deletePanier($index)"><span class="glyphicon glyphicon-trash"></span></a>
							<a href="" ng-click=""><span class="glyphicon glyphicon-edit"></span></a></td>						
					</tr>	
					<tfoot>
					<tr><td colspan="7"></td></tr>

					<tr><td colspan="3"></td><td colspan="2"><b>Total du panier : </b></td><td><b>{{dataPanierTotal[0]}}€</b></td><td></td></tr>

					</tbody>
				</table>
				</form>
					<a href="" data-toggle="modal" data-target="#deleteP"> Vider Panier<span class="glyphicon glyphicon-trash"></span></a>
			</div>	
			<div class="PanierVide" ng-show="!dansPanier[0]">
				<h3>Le panier est vide !</h3>
			</div>	
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" ng-disabled="!dansPanier[0] || !dataPanierTotal[0]" data-dismiss="modal" >Payer</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		  </div>		  
		</div>		
	  </div>
	 <!-- End Modal PANIER --> 
	 
	 
<!-- Modal PARAMETER -->
	  <div class="modal fade" id="dialogParameter" role="dialog">
		<div class="modal-dialog">		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Parametres</h4>
			</div>
			<div class="modal-body">				
				<table class="table table-hover">
				<!--a href="" ng-click=""><span class="glyphicon glyphicon-edit"></span></a-->
					<tr><td>
						<div class="paramLeft">
							<p><input type="text" class="form-control" id="name" placeholder="Nom"></p>
							<p><input width="50%" type="text" class="form-control" id="pName" placeholder="Prenom"></p>
							<p><input type="text" class="form-control" id="adress" placeholder="Adresse"> </p>
							<p style="display: flex;">
							<input type="text" class="form-control" id="zipCode" style="width:80px" placeholder="Code Postal" title="Ex: 38000"> <select id="country" class="form-control" id="sel1"> <option>France</option> </select>
							</p>
							<p><input type="tel" class="form-control" id="phone" placeholder="Telephone"></p>
						</div>
						</td><td>	
							<div class="paramRight">
								<input type="email" class="form-control" id="mail" placeholder="Email">
								<input type="password" class="form-control" id="pwd" placeholder="Mot de Passe"> 
								</b> <input type="password" class="form-control" id="pwd2" placeholder="Mot de Passe">	
							</div>
						</td></tr>
					<tr><td colspan="2"></td></tr>
					<tr><td colspan="2">
					<div class="checkbox">
						<label><input type="checkbox"> <b>j'aimerais de recevoir des notifications par mail</b></label>
					</div>
					</td></tr>
					<tr><td colspan="2"><a href="" class="btn" data-toggle="modal" data-target="#deleteC">Supprimer Compte<span class="glyphicon glyphicon-trash"></span></a></td></tr>
				</table>					
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Valider</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		  </div>
		  
		</div>
	  </div>

	  <!-- Suppression élément -->
	  <div class="modal fade" id="deleteP" role="dialog">
		<div class="modal-dialog" style="margin-right:1%;">		
		  <!-- Modal content-->
		  <div class="modal-content">
		    	<div class="modal-header" style="background-color:red; height: 30px; color:black; text-align:center;">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  <h1>Vider le panier</h1>
				    </div>
				    <div class="modal-body">
				        <p>Voulez-vous supprimer tout le panier ?</p>
				    </div>
				    <div class="modal-footer" ng-controller="panierCtrl">
				      <a href="" class="btn" data-dismiss="modal" data-toggle="modal" data-target="#dialogPanier">Non</a>
				  <a href="" class="btn btn-primary" ng-click="clearPanier()" data-dismiss="modal" data-toggle="modal" data-target="#dialogPanier">Oui</a>
		    	</div>
			</div>
		</div>
	</div>

<!-- Suppression compte -->
	  <div class="modal fade" id="deleteC" role="dialog">
		<div class="modal-dialog" style="margin-right:1%;">		
		  <!-- Modal content-->
		  <div class="modal-content">
		    	<div class="modal-header" style="background-color:red; height: 30px; color:black; text-align:center;">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  <h1>Suppression du compte</h1>
				    </div>
				    <div class="modal-body">
				        <p>Voulez-vous supprimer votre compte ?</p>
				        <p>Toutes vos données seront supprimées</p>
				    </div>
				    <div class="modal-footer" ng-controller="panierCtrl">
				      <a href="" class="btn" data-dismiss="modal" data-toggle="modal" data-target="#dialogParameter">Non</a>
				  <a href="" class="btn btn-primary" ng-click="clearPanier()" data-dismiss="modal" data-toggle="modal" data-target="#dialogParameter">Oui</a>
		    	</div>
			</div>
		</div>
	</div>


	 <!-- End Modal PARAMETER --> 
  
	</body>	

</html>