.best table{
	margin-top: 1%;
	margin-bottom: 4%;
	text-decoration:none;
	text-align: center;
	border-collapse: collapse;
	width: 90%;
	border-spacing:100px 200px;

}

.best table>tr>td>a>img{
	width: 100px;
}

#dataSuggest{
	padding-top: 5%;
}
#dataBest{
	padding-top: 5%;
}


.poster1{
	width: 80%;
}



h1{
	font-family:"palatino linotype", palatino, serif;
	text-transform: capitalize;
	font-size: 150%;
}